.header {
  font-family: var(--text-roboto);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  gap: 10px;
}

.header .home_btn,
.header .restart_btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 6px;
  border: solid 1px #000000;
  padding: 4px 6px;
  border-radius: 4px;
}

.header .home_btn img {
  width: 19px;
  transform: translateY(-1px);
}

.header .restart_btn img {
  width: 24px;
}

.header .home_btn span,
.header .restart_btn span {
  font-size: 16px;
  text-align: end;
}

/* BREAKEPOINT */
@media screen and (max-width: 540px) {
  .header {
    margin-top: 25px;
    padding: 6px 0;
  }
  .header .home_btn img {
    width: 12px;
  }
  .header .restart_btn img {
    width: 16px;
  }

  .header .home_btn span,
  .header .restart_btn span {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 35px;
    padding: 4px 0;
  }
  .header .home_btn img {
    width: 8px;
  }
  .header .restart_btn img {
    width: 12px;
  }

  .header .home_btn span,
  .header .restart_btn span {
    font-size: 10px;
  }
}

@media screen and (max-width: 260px) {
  .header {
    margin-top: 50px;
    gap: 5px;
  }

  .header .home_btn,
  .header .restart_btn {
    gap: 3px;
    border: solid 0.2px #000000;
    padding: 2px 4px;
    border-radius: 2px;
  }

  .header .home_btn img {
    width: 8px;
  }
  .header .restart_btn img {
    width: 10px;
  }

  .header .home_btn span,
  .header .restart_btn span {
    font-size: 8px;
  }
}
